# Global Ignoring Files for both backend and frontend

# dependencies
node_modules/
**/node_modules/

# testing
coverage/
**/coverage/

# production
build/
**/build/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
*.env
**/*.env
*.env.local
**/*.env.local

# Logs
*.log
**/*.log
logs/
**/logs/

# Ignore compiled output
dist/
**/dist/
out/
**/out/

# Ignore IDE specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore the uploads folder if it contains files that don't need to be tracked
uploads/
**/uploads/

# gitignore
.gitignore
**/.gitignore

# cursor
.cursorignore
**/.cursorignore
